.DetailBlock {
    border: 1px solid black;
    margin-bottom: 30px;
    /*width: 660px;*/
    background-color: #F3F3F3;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

    .DetailBlock > table {
        background-color: #FFFFCC;
        width: 100%;
        margin-top: 2px;
        margin-bottom: 2px;
    }

        .DetailBlock > table td {
            text-align: center;
        }

.DetailBlockHeader {
    display: inline-block;
    height: 25px;
    vertical-align: middle;
    line-height: 25px;
    color: maroon;
}

.StdRegCardPanel {
    padding-bottom: 10px;
    overflow: auto;
    width: 670px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}